/*

!.bootstrap

!alacritty
!btop
!cmus
!davmail
!despell
!fd
!hypr
!git
!gtk-3.0
!gtk-4.0
!khal
!latexmk
!msmtp
!neomutt
!nnn
!nvim
!systemd
!tmux
!vdirsyncer
!waybar
!zathura
!zsh

!isyncrc
!README.md
!.gitignore
