/*

!.bootstrap

!alacritty
!cmus
!davmail
!fd
!hypr
!git
!gtk-3.0
!gtk-4.0
!gtklock
!khal
!latexmk
!msmtp
!neomutt
!nnn
!nvim
!tmux
!vdirsyncer
!waybar
!zathura
!zsh

!isyncrc
!README.md
!.gitignore
