/*

!.bootstrap

!alacritty
!btop
!cmus
!davmail
!despell
!dunst
!fd
!hypr
!git
!gtk-3.0
!gtk-4.0
!khal
!latexmk
!msmtp
!neomutt
!nnn
!nvim
!rofi
!systemd
!tmux
!vdirsyncer
!waybar
!wlogout
!zathura
!zsh

!isyncrc
!pam-gnupg

!README.md
!.gitignore
