@define-color  primary #BB86FC;
@define-color  primary-variant #3700B3;
@define-color  secondary #03DAC6;

@define-color  background #121212;
@define-color  lifted #1D1D1D;


@define-color  surface #121212;
@define-color  error #CF6679;

@define-color  on-primary #000000;
@define-color  on-secondary #000000;
@define-color  on-background #E1E1E1;
@define-color  on-surface #E1E1E1;
@define-color  on-error #000000;

@define-color  off-colored #A4A4A4;
@define-color  disabled #797979;

window#waybar {
  min-height  : 0;

  font-family : "NotoSans Nerd Font";
  font-size   : 18px;
  font-weight : 400;

  background  : @background;
  color       : @on-background;
}

.modules-left {
  border        : none;
  border-radius : 0;
  margin-left   : 10px;
  margin-right  : 10px;
}

.modules-right {
  margin-left  : 10px;
  background   : @background;
  margin-right : 10px;
}

#custom-arch {
  font-size    : 18pt;
  color        : @off-colored;
  padding      : 0px;
  margin-left  : 10px;
  margin-right : 20px;
}

#workspaces button {
  border-radius : 0;
  border-top    : 2px solid @on-background;
  color         : @on-background;
  padding       : 4px;
  margin-right  : 6px;
}

#workspaces button.active {
  border-top  : 2px solid transparent;
  color       : @background;
  background  : @primary;
  font-weight : bold;
}

#workspaces button.visible {
  border-top : 2px solid transparent;
  color      : @background;
  background : @primary;
}

#workspaces button.empty {
  border-top: 2px solid transparent;
}

#idle_inhibitor, #backlight, #battery, #bluetooth,
#custom-calendar, #custom-mail, #custom-systemd, #custom-github, #network,
#pulseaudio, #tray, #language {
  color        : @on-surface;
  margin-right : 15px;
}

#tray {
  margin-left: 0px;
}

#language {
  color        : @on-surface;
  margin-right : 5px;
}

#pulseaudio.bluetooth, #bluetooth.connected {
  color: @secondary;
}

#window {
  margin-left : 20px;
  color       : @off-colored;
  font-weight : bold;
}

#bluetooth.off, #bluetooth.disabled, #network.disconnected,
#idle_inhibitor.deactivated, #pulseaudio.muted {
  color: @disabled;
}

#battery.critical {
  background: @error;
}

#tray > .passive {
  color: @disabled;
}

#tray > .needs-attention {
  color: @error;
}
