[Unit]
Description=Mailbox synchronization service using isync/mbsync
Requires=davmail.service
After=davmail.service

[Service]
Type=oneshot
ExecCondition=ping -c 1 -W 1 8.8.8.8 
ExecStartPre=/usr/bin/vdirsyncer discover
ExecStart=/usr/bin/vdirsyncer sync

[Install]
WantedBy=default.target
