[Unit]
Description=Mailbox synchronization timer
Requires=davmail.service
After=davmail.service

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Unit=vdirsyncer.service

[Install]
WantedBy=timers.target
