
window {
  background-image: url("lambda-red.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#clock-label {
  background: transparent;
  border: none;
  font-size:0;
}

#unlock-button {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size:0;
}

#input-label {
  background: transparent;
  border: none;
  font-size:0;
}

#input-field {
  background-color:#abb2bf;
  box-shadow: none;
  border: none;
}
